*{
    background-color: rgb(249, 246, 236);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Times, serif, Tahoma, Geneva, Verdana, sans-serif
}
h1{
    text-transform: capitalize;
    color: rgb(255, 0, 136);
    text-align: center;
    margin-top: 50px;
    
}

div{
    width: 50%;
    margin: 0 30%;
    padding: 40px;
}
h2{
    text-transform: uppercase;
}
p::first-letter{
    text-transform: capitalize;
    
}

  